server:
  port: ${SERVER_PORT}
spring:
  jwt:
    access-secret: ${SPRING_JWT_ACCESS_SECRET}
    refresh-secret: ${SPRING_JWT_REFRESH_SECRET}
    access-token-validity-in-ms: 600000     # 10분
    refresh-token-validity-in-ms: 1209600000 # 14일 (1000 * 60 * 60 * 24 * 14)
  application:
    name: ${APPLICATION_NAME}
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: ${DB_DRIVER}
    hikari:
      maximum-pool-size: 10 # 최대 커넥션
      minimum-idle: 5 # 최소 커넥션
      connection-timeout: 30000
      idle-timeout: 30000
mybatis:
  type-aliases-package: com.mungtrainer.mtserver
  type-handlers-package: com.mungtrainer.mtserver.typehandler # db에서 tinyint(1)로 지정된 0/1을 java에서 boolean으로 받고 싶을 때 사용  // com.mungtrainer.mtserver.typehandler 여기서 class만들고 BaseTypeHandler<Boolean>을 상속받고 사용
  configuration:
    map-underscore-to-camel-case: true # db컬럼 snake_case -> java camelCase로 자동 전환
    default-fetch-size: 100 # 한번에 가져올 DB row 수
    default-statement-timeout: 30 # 쿼리 실행 제한 시간 (초)
  mapper-locations: classpath:mapper/**/*.xml

aws:
  s3:
    bucket: ${AWS_BUCKET_NAME}
#    accessKeyId: ${AWS_ACCESS_KEY_ID}   # 환경변수 사용
#    secretAccessKey: ${AWS_SECRET_ACCESS_KEY} # 환경변수 사용
    region: ${AWS_DEFAULT_REGION}
    presigned-url:
      expiration-minutes: 10
# ===== Actuator 설정 추가 =====
management:
  endpoints:
    web:
      exposure:
        include: health, info  # 필요한 엔드포인트만 노출
  endpoint:
    health:
      show-details: always     # 세부 상태 확인 가능
